{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Auction Recommendation</title>

		<!-- Bootstrap -->
		<link href="{% static 'polls/css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'polls/css/font-awesome.css' %}" rel="stylesheet">
		<link href="{% static 'polls/css/style.css' %}" rel="stylesheet">
		<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<script src="//code.jquery.com/jquery-1.11.3.js" charset="utf-8"></script>
		
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="home">
			<div class="container">			
				<header>
					<h1>Auction Recommendation
						<span>For Advertisers</span>
					</h1>	
				</header> 
			</div>
		</div>
	
		<div class="content">

			<div class="container">
				<h3>Welcome</h3>
				<div class="row">

					<div class="col-sm-12">
						<div class="panel panel-default">
						 <div class="panel-heading">Log In or Sign Up</div>
						 <div class="panel-body">
						<form class="form-horizontal" action="login" method="get">
							   <div class="form-group">
								  <label class="col-lg-3 control-label">ID</label>
								  <div class="col-lg-6">
									 <input type="email" placeholder="Email" class="form-control" name="id">
								  </div>
							   </div>
							   <div class="form-group">
								  <label class="col-lg-3 control-label">Password</label>
								  <div class="col-lg-6">
									 <input type="password" placeholder="Password" class="form-control">
								  </div>
							   </div>
							   <div class="form-group">
								  <div class="col-lg-offset-3 col-xs-2">
									 <div class="checkbox c-checkbox">
										<label>
										   <input type="checkbox" checked="">
										   <span class="fa fa-check"></span>Remember me</label>
									 </div>
								  </div>
							   </div>
							   <div class="form-group">
								  <div class="col-lg-offset-3 col-xs-2">
									 <button type="submit" class="btn btn-block btn-lg btn-success btn-icon">Log In<i class="fa fa-check-square-o"></i></a>
								  </div>

								  <div class="col-xs-2">
									 <button type="button" class="btn btn-block btn-lg btn-primary btn-icon">Sign Up<i class="fa fa-flask"></i></button>

								  </div>

							   </div>
							</form>
						 </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
					<script type="text/javascript">
						
					</script>
					</div>
				</div>
			</div>

		</div>

		<footer class="footer">
			<div class="row">			
				<div class="twelve col">
					<p><i class="fa fa-copyright"></i> 2015 Qi XU, Xiaowen LI, Chen CHEN</p>
				</div>
				<div class="twelve col">
					<p><i class="fa fa-university"></i> EECS 6893 <a href="http://www.ee.columbia.edu/~cylin/course/bigdata/" title="Big Data Anaylitcs" target="_blank">Big Data Anaylitcs</a>, Columbia University</a> </p>
				</div>
			</div>
		</footer>

	</body>
</html>